.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/*  FOR THE PARALLAX JS */

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 700px;
  background: linear-gradient(to bottom, #589daa 0%, #e3e7db 30%);
  background-attachment: fixed;
}

#logo {
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}

#fg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}

.cloud {
  width: 300px;
  bottom: auto;
}

.small {
  width: 100px;
}

#cloud1 {
  left: 50%;
  top: 200px;
}

#cloud2 {
  left: 10%;
  top: 100px;
}

#cloud3 {
  left: 70%;
  top: 50px;
  width: 150px;
}

section {
  position: relative;
  height: 500px;
  background: #111628;
}
#canvas {
  display: block;
  margin: auto;
}
#section3 {
  height: 1400px;
  overflow: hidden;
}

#scrollPath {
  opacity: 0;
}

#square {
  width: 100px;
  height: 100px;
}

[data-inview=""] {
  background: white;
}

[data-inview="3"] {
  background: green;
}

[data-inview="2"] {
  background: yellow;
}

[data-inview="1"] {
  background: orange;
}

[data-inview="0"] {
  background: red;
}

#triggerStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  padding: 1em;
  font-family: sans-serif;
  font-size: 2em;
  z-index: 100;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
#container {
  text-align: center;
}
#square {
  text-align: center;
}

/* Image Uploader */
#imageUploader .imgPreview {
  display: flex;
}

#imageUploader .previewSize {
  height: 150px;
  width: 150px;
}
#imageUploader .previewOutline {
  margin: 10px;
}
.red {
  color: red;
}
#imageUploader .image-upload > input {
  display: none;
}

#imageUploader .image-upload img {
  width: 80px;
  cursor: pointer;
}
.mapContainer {
  height: 500px;
  width: 500px;
}
.display-flex {
  display: flex;
}
#mapContainer {
  height: 400px;
  width: 1050px;
}

/* MODAL IMAGE CONTENT */

.postImage {
  cursor: pointer;
  transition: 0.3s;
}

.postImage:hover {
  opacity: 0.7;
}

/* The Modal (background) */
#myModal.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
#myModal.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-height: calc(100vh - 100px);
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
*/

/* Add Animation */
#myModal.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
} */

.nextBtn {
  position: absolute;
  left: 57vw;
  top: 45vh;
  width: 15vw;
  height: 15vw;
  cursor: pointer;
}

.backBtn {
  position: absolute;
  right: 45vw;
  top: 45vh;
  width: 15vw;
  height: 15vw;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.no-padding {
  padding: 0px;
}

.logo-img {
  height: 125px;
  width: auto;
}
.under {
  position: absolute;
  left: 0px;
  top: 0px;
}
.over {
  position: absolute;
  z-index: 1;
}
.banner {
  z-index: 1;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 75px;
  left: 35%;
}
